global
    log stdout format raw local0

defaults
    mode http # gRPC operates over HTTP/2
    log global
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

# The frontend listening for the FPM client
frontend grpc_gateway
    bind *:50051 proto h2
    default_backend roadrunner_backend

# The backend pointing to RoadRunner
backend roadrunner_backend
    balance roundrobin
    # 'proto h2' forces HTTP/2 communication
    server rr1 server-rr:9001 check proto h2
